@import './_variables';
@import "./_mixins";
@import "./_preloading";
@import "./_main";
@import "./_topbar";
@import "./_menu";
@import "./_config";
@import "./_content";
@import "./_footer";
@import "./_responsive";
@import "./_utils";
@import "./_typography";

.f-banner.f-banner-container {
  position: relative;
  top: 0;
  left: 0;
  padding-right: 0;
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

// .show-background-img {
//   background: no-repeat 50% scroll;
//   background-size: cover;
//   border: 0;
// }

.upload-box {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: no-repeat 50% scroll;
  background-size: cover;
  margin: auto;
  border-radius: 50%;
  .file-edit {
    position: absolute;
    bottom: 35px;
    right: 15px;
    padding: 10px;
    background: #fff;
    border-radius: 50%;
  }
  .pi-file-edit {
    font-size: 2rem;
    color: #3B82F6;
  }
}

.breadcrumbs {
  padding-top: 70px;
}
@media (max-width: 768px){
  .upload-box {
    width: 50%;
    height: auto;
    padding: 50%;
    .file-edit {
      bottom: 10%;
      right: 10%;
    }
  }
}


.ant-btn, [role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
  touch-action: manipulation;
}

.form-upload {
  display: none;
}
