<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>編輯進件開單-基本資料</h5>
      <div class="grid p-fluid">
        <div class="col-12">
          <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-12">
              <label htmlFor="incomingNo">進件編號</label>
              <div id="incomingNo" class="b-form-text">CLI0201OAPI-002</div>
              <!-- <input pInputText id="incomingNo" type="text" /> -->
            </div>
            <div class="field col-12 md:col-6">
              <label htmlFor="application-sector">申請部門*</label>
              <p-dropdown
                [options]="SectorDropdownItems"
                optionLabel="name"
                [(ngModel)]="selectedSector"
              ></p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
              <label htmlFor="application-sector">申請人員*</label>
              <p-dropdown
                [options]="applicantsDropdownItems"
                optionLabel="name"
                [(ngModel)]="selectedApplicants"
              ></p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
              <label htmlFor="contractSubject1">簽約主體我方*</label>
              <p-dropdown
                [options]="applicantsDropdownItems"
                optionLabel="name"
                [(ngModel)]="selectedApplicants"
              ></p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
              <label htmlFor="contractSubject2">簽約主體他方*</label>
              <input pInputText id="contractSubject2" type="text" />
            </div>
            <div class="field col-12 md:col-12">
              <label htmlFor="contractSubject2">聯絡人</label>
              <input pInputText id="contractSubject2" type="text" />
            </div>
            <div class="field col-12 md:col-6">
              <label htmlFor="contractSubject2">聯絡電話</label>
              <input pInputText id="contractSubject2" type="text" />
            </div>
            <div class="field col-12 md:col-6">
              <label htmlFor="contractSubject2">手機</label>
              <input pInputText id="contractSubject2" type="text" />
            </div>
            <div class="field col-12 md:col-12">
              <label htmlFor="contractSubject2">公司地址</label>
              <input pInputText id="contractSubject2" type="text" />
            </div>
            <div class="field col-12 md:col-12">
              <label htmlFor="contractSubject2">合約名稱</label>
              <input pInputText id="contractSubject2" type="text" />
            </div>
            <div class="field col-12 md:col-6">
              <label htmlFor="contractSubject2">合約金額(含稅)</label>
              <input pInputText id="contractSubject2" type="text" />
            </div>
            <div class="field col-12 md:col-6">
              <label htmlFor="contractSubject1" style="visibility: hidden"
                >合約金額(含稅)</label
              >
              <p-dropdown
                [options]="applicantsDropdownItems"
                optionLabel="name"
                [(ngModel)]="selectedApplicants"
              ></p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
              <label for="calendar1">合約期間(起)</label>
              <p-calendar
                inputId="calendar1"
                [(ngModel)]="value1"
                [showIcon]="true"
              ></p-calendar>
            </div>
            <div class="field col-12 md:col-6">
              <label for="calendar2">合約期間(迄)</label>
              <p-calendar
                inputId="calendar2"
                [(ngModel)]="value2"
                [showIcon]="true"
              ></p-calendar>
            </div>
            <div class="field col-12 md:col-4">
              <label htmlFor="contractSubject2">年</label>
              <input pInputText id="contractSubject2" type="text" />
            </div>
            <div class="field col-12 md:col-4">
              <label htmlFor="contractSubject2">月</label>
              <input pInputText id="contractSubject2" type="text" />
            </div>
            <div class="field col-12 md:col-4">
              <label htmlFor="contractSubject2">日</label>
              <input pInputText id="contractSubject2" type="text" />
            </div>
            <div class="field col-12 md:col-12">
              <label class="mb-3">NDA 在案</label>
              <div class="formgrid grid">
                <div class="field-radiobutton col-6">
                  <p-radioButton
                    id="category1"
                    name="category"
                    value="Accessories"
                    [(ngModel)]="product.category"
                  ></p-radioButton>
                  <label for="category1">有簽過</label>
                </div>
                <div class="field-radiobutton col-6">
                  <p-radioButton
                    id="category2"
                    name="category"
                    value="Clothing"
                    [(ngModel)]="product.category"
                  ></p-radioButton>
                  <label for="category2">沒簽過</label>
                </div>
              </div>
            </div>
            <div class="field col-12 md:col-6">
              <label htmlFor="application-sector">執行單位</label>
              <p-dropdown
                [options]="applicantsDropdownItems"
                optionLabel="name"
                [(ngModel)]="selectedApplicants"
              ></p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
              <label htmlFor="contractSubject1">執行人員</label>
              <p-dropdown
                [options]="applicantsDropdownItems"
                optionLabel="name"
                [(ngModel)]="selectedApplicants"
              ></p-dropdown>
            </div>

            <div class="field col-12 md:col-12">
              <label for="description">送審備注</label>
              <textarea
                id="description"
                pInputTextarea
                [(ngModel)]="product.description"
                required
                rows="3"
                cols="20"
              ></textarea>
            </div>
            <div class="col-12">
              <h6>上傳檔案</h6>
              <p-fileUpload
                #fileUploadData
                name="demo[]"
                (onSelect)="onFileUploadClicked($event)"
                [multiple]="false"
                accept="image/*"
                [maxFileSize]="1000000"
                [chooseLabel]="'選擇檔案'"
                [showUploadButton]="false"
                [showCancelButton]="false"
              >
                <ng-template pTemplate="content">
                  <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">
                      {{ file.name }} - {{ file.size }} bytes
                    </li>
                  </ul>
                </ng-template>
                <ng-template pTemplate="content">
                  <div class="dragdrop-area" *ngIf="!isSelectFileUpload">
                    <img [src]="imageSrc" />
                    {{ fileName }} {{ fileSize }}
                  </div>
                </ng-template>
              </p-fileUpload>
            </div>
          </div>
          <div class="col-12 text-center">
            <button
              type="text"
              pButton
              label="核准"
              style="width: auto; margin-right: 0.5rem"
              (click)="onSubmit('1')"
            ></button>
            <button
              type="text"
              pButton
              label="退件"
              class="p-button-warning"
              style="width: auto"
              (click)="onSubmit('0')"
            ></button>
          </div>
        </div>
      </div>
      <p-dialog
        [header]="dialogTitle"
        [(visible)]="display"
        [modal]="true"
        showEffect="fade"
        [style]="{ width: '90vw' }"
        [breakpoints]="{ '960px': '75vw' }"
      >
        <div class="p-fluid p-formgrid grid">
          <ng-container *ngIf="editDialog === '0'">
            <div class="field col-12 md:col-12">
              <label for="description">退件原因</label>
              <textarea
                id="description"
                pInputTextarea
                [(ngModel)]="product.description"
                required
                rows="3"
                cols="20"
              ></textarea>
            </div>
          </ng-container>

          <ng-container *ngIf="editDialog === '1'">
            <div
              class="field col-12 md:col-6"
              style="display: flex; align-items: center"
            >
              <label for class="mb-0">基本資料</label>
              <!-- <a href="javascript:;" class="ml-5">test123.pdf</a> -->
            </div>
            <div class="field col-12 md:col-12">
              <label class="mb-3">貼級別標籤</label>
              <div class="formgrid grid">
                <div class="field-radiobutton col-4">
                  <p-radioButton
                    id="category1"
                    name="category"
                    value="Accessories"
                    [(ngModel)]="product.category"
                  ></p-radioButton>
                  <label for="category1">普</label>
                </div>
                <div class="field-radiobutton col-4">
                  <p-radioButton
                    id="category2"
                    name="category"
                    value="Clothing"
                    [(ngModel)]="product.category"
                  ></p-radioButton>
                  <label for="category2">急</label>
                </div>
                <div class="field-radiobutton col-4">
                  <p-radioButton
                    id="category3"
                    name="category"
                    value="Clothing"
                    [(ngModel)]="product.category"
                  ></p-radioButton>
                  <label for="category3">特急</label>
                </div>
              </div>
            </div>
            <div class="field col-12 md:col-12">
              <label for="description">審核意見</label>
              <textarea
                id="description"
                pInputTextarea
                [(ngModel)]="product.description"
                required
                rows="3"
                cols="20"
              ></textarea>
            </div>
            <div class="col-12">
              <h6>上傳附件</h6>
              <p-fileUpload
                #fileUploadData
                name="demo[]"
                (onSelect)="onFileUploadClicked($event)"
                [multiple]="false"
                accept="image/*"
                [maxFileSize]="1000000"
                [chooseLabel]="'選擇檔案'"
                [showUploadButton]="false"
                [showCancelButton]="false"
              >
                <ng-template pTemplate="content">
                  <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">
                      {{ file.name }} - {{ file.size }} bytes
                    </li>
                  </ul>
                </ng-template>
                <ng-template pTemplate="content">
                  <div class="dragdrop-area" *ngIf="!isSelectFileUpload">
                    <img [src]="imageSrc" />
                    {{ fileName }} {{ fileSize }}
                  </div>
                </ng-template>
              </p-fileUpload>
            </div>
          </ng-container>
        </div>

        <!-- <h6>上傳頭像</h6>
        <p-fileUpload
          name="demo[]"
          [multiple]="false"
          accept="image/*"
          [maxFileSize]="1000000"
          [chooseLabel]="'選擇檔案'"
          [showUploadButton]="false"
          [showCancelButton]="false"
        >
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">
                {{ file.name }} - {{ file.size }} bytes
              </li>
            </ul>
          </ng-template>
        </p-fileUpload>

        <h6>個人介紹</h6>
        <textarea
          rows="5"
          placeholder=""
          pInputTextarea
          class="p-inputtextarea p-inputtext p-component p-element"
          style="width: 100%"
        ></textarea> -->
        <ng-template pTemplate="footer">
          <!-- <button
            type="text"
            pButton
            label="核准"
            style="width: auto; margin-right: 0.5rem"
            (click)="display = false"
          ></button>
          <button
            type="text"
            pButton
            label="退件"
            class="p-button-warning"
            style="width: auto"
            (click)="display = false"
          ></button> -->
          <button
            pButton
            (click)="display = false"
            label="離開"
            class="p-button-outlined"
          ></button>
          <button pButton (click)="submit()" label="確定送出"></button>
        </ng-template>
      </p-dialog>
    </div>
  </div>
</div>
